<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sign2">
      <div class="sign-up">
        <div class="overlap">
          
          <div class="div">
            <div class="text-wrapper">Confirm your email</div>
            <p class="type-in-the-code-we">
              <span class="span">Type in the code we sent to exmple@gmail.com. </span>
              <span class="text-wrapper-2">Edit email</span>
            </p>
          </div>
          <p class="didn-t-receive-the">
            <span class="text-wrapper-5"> Send again</span>
          </p>
          <div class="group">
            <div class="overlap-group"><div class="agree-confirm"><a href="offred'emploi.html">Agree &amp; Confirm</a></div></div>
          </div>
          <div class="div-wrapper"><div class="text-wrapper-6">------</div></div>
        </div>
        <img class="logo-web" src="img/logo-web-1.png" />
      </div>
    </div>
  </body>
</html>
