<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="offred'emploi.css" />
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <img class="logo-clinets" src="img/logo-clinets-1.png" />
        <i class='bx bx-menu' id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class='bx bx-search'></i>
          <input type="text" placeholder="Search...">
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="home.html">
            <i class="acc">
            <img class="home-2" src="img/home-1.png" />
            </i>
            <span class="links_name">Accueil</span>
          </a>
          <span class="tooltip">Accueil</span>
        </li>
        <li>
          <a href="offred'emploi.html">
            <i class='off'>
              <img class="icon-briefcase" src="img/icon-briefcase.png" />
            </i>
            <span class="links_name">Offres d’emploi</span>
          </a>
          <span class="tooltip">Offres d’emploi</span>
        </li>
        <li>
          <a href="service.php">
            <i class='service'>
              <img class="img-2" src="img/service-1.png" />
            </i>
            <span class="links_name">service</span>
          </a>
          <span class="tooltip">service</span>
        </li>
        <li>
          <a href="#">
            <i class='cccc'>
              <img class="cv" src="img/cv-3.png" />
            </i>
            <span class="links_name">Cv</span>
          </a>
          <span class="tooltip">Cv</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-chat'></i>
            <span class="links_name">Messages</span>
          </a>
          <span class="tooltip">Messages</span>
        </li>
        
        <li>
          <a href="#">
            <i class='bx bx-heart'></i>
            <span class="links_name">Saved</span>
          </a>
          <span class="tooltip">Saved</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user'></i>
            <span class="links_name">User</span>
          </a>
          <span class="tooltip">User</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog'></i>
            <span class="links_name">Setting</span>
          </a>
          <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
          <div class="profile-details">
            <img class="user" src="img/user-1-1.png"  alt="profileImg">
            <div class="name_job">
              <div class="name">rayen dhaoui</div>
              <div class="job">Web designer</div>
            </div>
          </div>
          <a href="#">
            <i class='bx bx-log-out' id="log_out"></i>
          </a>
          <span class="tooltip">log_out</span>
        </li>
      </ul>
    </div>

    <section class="offre-d-emploi">
      
      <div class="scrollable-list">
        
        <ul id="jobList">
          <li>
            <button onclick="toggle()">
            <div class="group-10">
              <div class="text-wrapper-15">Chargé(e)Commercial(e) en Portage salarial</div>
              <p class="span-wrapper"><span class="span">RD PORTAGE </span></p>
              <div class="gouvernorat-tunis-2">Gouvernorat Tunis, Tunisie</div>
              <div class="promu-e-candidature-2">Promu(e)<br />Candidature simplifiée</div> 
            </div>
          </button>
          </li>
          <li>
            <div class="group-10">
              <div class="text-wrapper-15">Chargé(e)Commercial(e) en Portage salarial</div>
              <p class="span-wrapper"><span class="span">RD PORTAGE </span></p>
              <div class="gouvernorat-tunis-2">Gouvernorat Tunis, Tunisie</div>
              <div class="promu-e-candidature-2">Promu(e)<br />Candidature simplifiée</div>
            </div>
          </li>
          <li>
            <div class="group-10">
              <div class="text-wrapper-15">Chargé(e)Commercial(e) en Portage salarial</div>
              <p class="span-wrapper"><span class="span">RD PORTAGE </span></p>
              <div class="gouvernorat-tunis-2">Gouvernorat Tunis, Tunisie</div>
              <div class="promu-e-candidature-2">Promu(e)<br />Candidature simplifiée</div>
            </div>
          </li>
          <li>
            <div class="group-10">
              <div class="text-wrapper-15">Chargé(e)Commercial(e) en Portage salarial</div>
              <p class="span-wrapper"><span class="span">RD PORTAGE </span></p>
              <div class="gouvernorat-tunis-2">Gouvernorat Tunis, Tunisie</div>
              <div class="promu-e-candidature-2">Promu(e)<br />Candidature simplifiée</div>
            </div>
          </li>
          <li>
            <div class="group-10">
              <div class="text-wrapper-15">Chargé(e)Commercial(e) en Portage salarial</div>
              <p class="span-wrapper"><span class="span">RD PORTAGE </span></p>
              <div class="gouvernorat-tunis-2">Gouvernorat Tunis, Tunisie</div>
              <div class="promu-e-candidature-2">Promu(e)<br />Candidature simplifiée</div>
            </div>
          </li>
          <li>
            <div class="group-10">
              <div class="text-wrapper-15">Chargé(e)Commercial(e) en Portage salarial</div>
              <p class="span-wrapper"><span class="span">RD PORTAGE </span></p>
              <div class="gouvernorat-tunis-2">Gouvernorat Tunis, Tunisie</div>
              <div class="promu-e-candidature-2">Promu(e)<br />Candidature simplifiée</div>
            </div>
          </li>
          <li>
            
            <div class="group-10">
              <div class="text-wrapper-15">Chargé(e)Commercial(e) en Portage salarial</div>
              <p class="span-wrapper"><span class="span">RD PORTAGE </span></p>
              <div class="gouvernorat-tunis-2">Gouvernorat Tunis, Tunisie</div>
              <div class="promu-e-candidature-2">Promu(e)<br />Candidature simplifiée</div>
            </div>
          </li>
          <li>
            <div class="group-10">
              <div class="text-wrapper-15">Chargé(e)Commercial(e) en Portage salarial</div>
              <p class="span-wrapper"><span class="span">RD PORTAGE </span></p>
              <div class="gouvernorat-tunis-2">Gouvernorat Tunis, Tunisie</div>
              <div class="promu-e-candidature-2">Promu(e)<br />Candidature simplifiée</div>
            </div>
          </li>
        </ul>
      </div>
      <div id="div1" class="div1">
        <div class="overlap">
            <img class="icon-briefcase" src="img/icon-briefcase.png" />
            <div class="text-wrapper">...</div>
            <img class="re" src="img/re-2.png" />
            <div class="charg-e-commercial-e">
              Chargé(e)Commercial(e) en Portage<br />
              salarial
            </div>
            <div class="div-wrapper"><div class="div">Enregistre</div></div>
            <div class="overlap-2">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-2">Candidature simplifiée</div>
            </div>
            <p class="nous-recherchons">
              Nous recherchons actuellement un(e) chargé(e) commercial(e) dans le domaine du portage salarial et/ou
              ESN, dynamique et motivé(e) pour rejoindre notre équipe à Tunis. En tant que Commercial(e) spécialisé(e)
              en portage salarial, vous serez chargé(e) de promouvoir nos services auprès des professionnels et de
              développer notre clientèle.<br /><br />Responsabilités :<br />Développement commercial :<br />Prospecter
              de nouveaux consultants potentiels et établir des relations durables.<br />Analyser les besoins des
              consultants et leur proposer des solutions adaptées en portage salarial.<br /><br />Suivi et
              fidélisation :<br />Assurer un suivi régulier des consultants pour garantir leur satisfaction.<br />Être
              à l&#39;écoute des évolutions du marché et des besoins des consultants pour anticiper les opportunités.
            </p>
            <div class="overlap-3">
              <div class="rectangle-3"></div>
              <div class="ellipse"></div>
              <img class="user" src="img/user-1-1.png"  alt="profileImg">
              <div class="rectangle-4"></div>
              <div class="text-wrapper-3">Message</div>
              <img class="send" src="img/send-2.png" />
              <div class="text-wrapper-4">Rencontrez l’équipe de recrutement</div>
              <p class="portage-salarial">
                Portage salarial | Chargée Marketing &amp; prospection<br />Auteur de l’offre d’emploi
              </p>
              <p class="exempl-ben-raexp"><span class="span">exempl Ben Raexp &nbsp;&nbsp;3e et +</span></p>
            </div>
            <p class="RD-PORTAGE">
              <span class="text-wrapper-5"
                >RD PORTAGE · Gouvernorat Tunis, Tunisie · il y a 2 semaines · Plus de 100 candidats</span
              >
            </p>
            <div class="text-wrapper-6">Sur site  Temps plein  Confirmé</div>
            <p class="p">11-50 employés · Services et conseil en informatique</p>
            <p class="text-wrapper-7">Compétences : Communication stratégique, Processus commerciaux et 8 en plus</p>
            <p class="d-couvrez-comment">
              Découvrez comment vous vous positionnez par rapport à plus de 100 autres<br />
              candidats.
            </p>
            <p class="text-wrapper-8">À propos de l’offre d’emploi</p>
          </div>
      </div> 
    </section>
    <script  src="offred'emploi.js"></script>
  </body>
</html>
