<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sign">
      <div class="sign-up">
        <div class="overlap">
          
          <div class="div">
            <div class="rectangle"></div>
            <div class="text-wrapper-2">First Name</div>
          </div>
          <div class="overlap-2">
            <div class="rectangle-2"></div>
            <div class="text-wrapper-3">Last Name</div>
          </div>
          <div class="overlap-3">
            <div class="rectangle-3"></div>
            <div class="country-region">Country/Region</div>
            <div class="text-wrapper-4">Tunisia</div>
          </div>
          <div class="overlap-4">
            <div class="rectangle-4"></div>
            <div class="text-wrapper-5">City/District</div>
            <div class="text-wrapper-6">Tunis, Tunis</div>
          </div>
          <div class="overlap-5">
            <div class="rectangle-5"></div>
            <div class="text-wrapper-5">Most recent job title</div>
          </div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-7">BirthDay</div>
          <div class="group">
            <div class="overlap-group"><div class="text-wrapper"><a href="confemail.html">Next</a></div></div>
          </div>
        </div>
        <img class="logo-web" src="img/logo-web-1.png" />
      </div>
    </div>
  </body>
</html>
