
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sign-up">
      <div class="div">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="agree-join"><a href="signup2.html">Agree &amp; Join</a></div>
          <p class="already-on">
            <span class="text-wrapper">Already on CareerCrafters Hub</span>
            <span class="span"> ?</span>
            <span class="text-wrapper-2"> Sign in</span>
          </p>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-3">Show</div>
          <div class="text-wrapper-4">Email</div>
          <div class="text-wrapper-5">Password (6+ characters)</div>
          <div class="text-wrapper-6">Continue with Google</div>
          <img class="line" src="https://c.animaapp.com/E56f6jYl/img/line-6.svg" />
          <img class="img" src="https://c.animaapp.com/E56f6jYl/img/line-7.svg" />
          <div class="text-wrapper-7">or</div>
          <img class="google" src="https://c.animaapp.com/E56f6jYl/img/google-1@2x.png" />
          <p class="by-clicking-continue">
            <span class="text-wrapper-8">By clicking Continue, you agree to CareerCrafters Hub’s <br /></span>
            <span class="text-wrapper-9">User Agreement</span>
            <span class="text-wrapper-8">,</span>
            <span class="span">Privacy Policy</span>
            <span class="text-wrapper-8">, and </span>
            <span class="span">Cookie Policy</span>
            <span class="text-wrapper-8">.</span>
          </p>
        </div>
        <img class="logo-web" src="https://c.animaapp.com/E56f6jYl/img/logo-web-1@2x.png" />
        <p class="p">Make the most of your professional life</p>
        <p class="looking-to-create-a">
          <span class="text-wrapper-8">Looking to create a page for business ? </span>
          <span class="text-wrapper-2">Get help</span>
        </p>
      </div>
    </div>
  </body>
</html>
