<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sign-in">
      <div class="div">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="text-wrapper">Sign in</div>
          <div class="text-wrapper-2">Sign in</div>
          <p class="p">Stay updated on your professional world</p>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-3">Forgot password?</div>
          <div class="text-wrapper-4">Show</div>
          <div class="text-wrapper-5">Email or Phone</div>
          <div class="text-wrapper-6">Password</div>
          <div class="text-wrapper-7">Continue with Google</div>
          <p class="text-wrapper-8">Sign in with a one-time link</p>
          <img class="line" src="https://c.animaapp.com/YvR3Vtz3/img/line-6.svg" />
          <img class="img" src="https://c.animaapp.com/YvR3Vtz3/img/line-7.svg" />
          <div class="text-wrapper-9">or</div>
          <img class="google" src="https://c.animaapp.com/YvR3Vtz3/img/google-1@2x.png" />
          <img class="link" src="https://c.animaapp.com/YvR3Vtz3/img/link-1@2x.png" />
          <p class="by-clicking-continue">
            <span class="span">By clicking Continue, you agree to CareerCrafters Hub’s </span>
            <span class="text-wrapper-10">User Agreement</span>
            <span class="span">,</span>
            <span class="text-wrapper-11">Privacy Policy</span>
            <span class="span">, and </span>
            <span class="text-wrapper-11">Cookie Policy</span>
            <span class="span">.</span>
          </p>
        </div>
        <img class="logo-web" src="https://c.animaapp.com/YvR3Vtz3/img/logo-web-1@2x.png" />
        <p class="new-to">
          <span class="span">New to CareerCrafters Hub ? </span> <span class="text-wrapper-12">join now</span>
        </p>
      </div>
    </div>
  </body>
</html>
