<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    

    <div class="offre-d-emploi">
      <div class="div">
        <div class="overlap">
          <div class="overlap">
            <div class="rectangle"></div>
            <div class="nav-barre">
              <img class="logo-clinets" src="img/logo-clinets-1.png" />
              <div class="log-out">
                <div class="text-wrapper">Log out</div>
                <img class="img" src="img/log-out-1.png" />
              </div>
              <div class="home">
                <div class="text-wrapper-2">Accueil</div>
                <img class="home-2" src="img/home-1.png" />
              </div>
              <div class="offre-emp">
                <div class="text-wrapper-3">Offres d’emploi</div>
                <img class="icon-briefcase" src="img/icon-briefcase.png" />
              </div>
              <div class="param">
                <div class="text-wrapper-4">Paramètre</div>
                <img class="img-2" src="img/settings-1.png" />
              </div>
              <div class="messagerie">
                <div class="text-wrapper-5">Messagerie</div>
                <img class="message" src="img/message-1.png" />
              </div>
              <div class="service">
                <div class="service-2">service</div>
                <img class="img-2" src="img/service-1.png" />
              </div>
              <div class="rec"><div class="text-wrapper-6">Cv</div></div>
            </div>
            <div class="rectangle-2"></div>
            <div class="group">
              <div class="overlap-group">
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper-7">CV</div></div>
                </div>
                <img class="arrow" src="img/arrow-3.png" />
              </div>
            </div>
            <div class="group-wrapper">
              <div class="group-2">
                <div class="overlap-group-2">
                  <div class="rectangle-3"></div>
                  <div class="text-wrapper-8">Langue</div>
                </div>
              </div>
            </div>
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="group-3">
                  <div class="overlap-group-3"><div class="text-wrapper-9">Type</div></div>
                </div>
                <img class="arrow-2" src="img/arrow-2-1.png" />
              </div>
            </div>
            <img class="arrow-3" src="img/arrow-3.png" />
            <div class="overlap-3">
              <div class="group-5">
              </div>
            </div>
            <div class="group-6">
              <div class="group-7">
                <div class="overlap-group-5">
                  <div class="rectangle-4"></div>
                  <div class="text-wrapper-11">Tous les Filtres</div>
                </div>
              </div>
            </div>
            <img class="line" src="img/line-13.svg" />
            <img class="line-2" src="img/line-13.svg" />
            <div class="acceuil-offres-d">Acceuil&gt;&nbsp;&nbsp;Cv</div>
            <div class="text-wrapper-12">CV</div>
           
           
           
            <body>
                <section class="container">
                    <header>Registration Form</header>
                    <form action="./treatment.php" method="post" onsubmit="">
                            <div class="column">
                                <div class="input-box">
                                    <label>Nom</label>
                                    <input type="text" name="nom" id="nom" placeholder="Enter Votre Nom" required />
                                </div>
                                <div class="input-box">
                                    <label>Prénom</label>
                                    <input type="text" name="prenom" id="prenom" placeholder="Enter Votre Prenom" required />
                                </div>
                            </div>
                            <div class="input-box">
                                <label>Address émail</label>
                                <input type="text" name="email" id="email" placeholder="Enter email address" required />
                            </div>
                            <div class="column">
                                <div class="input-box">
                                    <label>Numéro de téléphone</label>
                                    <input type="text" name="num" id="num" placeholder="Enter numero de telephone" required />
                                </div>
                                <div class="input-box">
                                    <label>Date De Naissance</label>
                                    <input type="date" name="dte" id="dte" placeholder="Enter date de naissance" required />
                                </div>
                            </div>
                            <div class="input-box address">
                                <div class="column">
                                    <div class="input-box">
                                        <label>Adresse</label>
                                        <input type="text" name="adresse" id="adresse" placeholder="Enter votre Adresse" required />
                                    </div>
                                    <div class="input-box">
                                        <label>Nationalité</label>
                                        <input type="text" name="nationalite" id="nationalite" placeholder="Enter votre nationalité" required />
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Objectif</label>
                                        <input type="text" name="objectifs" id="objectifs" placeholder="Indiquer votre Objectif" required />
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Diplomes</label>
                                        <input type="text" name="diplomes" id="diplomes" placeholder="Entrer vos diplomes" required />
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Postes</label>
                                        <input type="text" name="postes" id="postes" placeholder="Enter vos postes" required />
                                    </div>
                                    <div class="input-box">
                                        <label>Compétences</label>
                                        <input type="text" name="comp" id="comp" placeholder="Enter vos competences" required />
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Interets</label>
                                        <input type="text" name="interets" id="interets" placeholder="Enter vos interets" required />
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Soumettre Cv">
                        </form>
                  </section>
          </body>
            
            <img class="cv" src="img/cv-3.png" />
          </div>
          
          <div class="barre-haut">
            <div class="group-21">
              <div class="overlap-group-7">
                <div class="text-wrapper-27">Search</div>
                <img class="vector" src="img/vector.svg" />
              </div>
            </div>
            <div class="group-22"><img class="user" src="img/user-1-1.png" /></div>
            <img class="arrow-6" src="img/arrow-3.png" />
            <img class="notify" src="img/notify-1.png" />
          </div>
        </div>
        <img class="vector-2" src="img/vector-1.png" />
      </div>
    </div>
  </body>
</html>