<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chercher Réponse par ID de Réclamation</title>
    <link rel="stylesheet" href="details.reponse.css"> <!-- Assurez-vous de remplacer "styles.css" par le nom de votre fichier CSS -->
</head>
<body>
    <div class="container">
        <h1>Chercher Réponse par ID de Réclamation</h1>
        <!-- Formulaire pour saisir l'identifiant de la réclamation -->
        <form action="chercherReponseParReclamationID.php" method="GET">
            <label for="reclamation_id">ID de la Réclamation :</label>
            <input type="text" id="reclamation_id" name="reclamation_id" required>
            <input type="submit" value="Rechercher">
        </form>

        
    </div>
</body>
</html>
