<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <header class="headerhome">
      <img class="logo-web" src="https://c.animaapp.com/gifcIB64/img/logo-web-1@2x.png" />
      <nav>
          <ul>
              <li><a href="login.php">Accueil</a></li>
              <li><a href="">Articles</a></li>
              <li><a href="">Offres d’emploi</a></li>
              <li><a href="">Service</a></li>
          </ul>
      </nav>
      <button class="button1" id="signinButton">
          <div class="text-wrapper-4">connecter</div>
      </button>
      <button class="button2" id="signupButton">
          <div class="text-wrapper-5">societer</div>
      </button>
  </header>
  
  

    <div class="home">
      <section class="one">
        <img class="affichage" src="https://c.animaapp.com/gifcIB64/img/affichage-p1-1.png" />
        <div class="overlap-2">
          <p class="bienvenue-sur-notre">
            <span class="span">Bienvenue sur notre plateforme </span>
            <span class="text-wrapper-6">CareerCrafters</span>
            <span class="text-wrapper-7"> Hub</span>
            <span class="span"> de recrutement et d&#39;emploi</span>
          </p>
          <p class="p">
            Nous sommes déterminés à connecter les entreprises prospères et les Client avec les candidats les plus
            qualifiés, offrant destination ultime pour accéder au service le plus recherché ainsi une solution complète
            pour répondre à vos besoins de recrutement et à vos aspirations professionnelles.
          </p>
          <div class="group">
            <div class="div-wrapper" id="searchBar">
              <input type="text" class="text-wrapper-8" placeholder="Search products and service by name or categ..." />
            </div>
          </div>
          <img class="vectorsech" src="https://c.animaapp.com/gifcIB64/img/vector.svg" />          
        </div>
        <div class="group-cliensectionone">
          <div class="overlap-23">
            <div class="text-wrapper-49">91.000 client</div>
            <p class="text-wrapper-50">plus de 91.000 client satisfaits partout dans le monde</p>
          </div>
          <img class="vector-2" src="https://c.animaapp.com/gifcIB64/img/vector-1.svg" />
        </div>
        <div class="group-24">
          <div class="overlap-22">
            <div class="text-wrapper-47">110684 Prestatairs</div>
            <p class="text-wrapper-48">plus de 110684 prestataires de service dans le monde</p>
          </div>
          <img class="vector-3" src="https://c.animaapp.com/gifcIB64/img/vector-2.svg" />
        </div>
        <div class="overlap-25">
          <div class="group-28">
            <div class="overlap-26">
              <div class="text-wrapper-55">+961.684 Entreprises</div>
              <p class="text-wrapper-56">Plus de 961 684 entreprises cherchent des employés dans le monde.</p>
            </div>
          </div>
          <img class="vector-4" src="https://c.animaapp.com/gifcIB64/img/vector-3.svg" />
        </div>
    </section>

    <section class="two">
      <div class="overlap-21">
        <p class="faites-savoir-aux">
          <span class="text-wrapper-51"
            >Faites savoir aux bonnes personnes que vous êtes ouvert aux opportunités professionnelles
          </span>
          <span class="text-wrapper-52"></span>
          <span class="text-wrapper-53"
          >Avec la fonctionnalité &#34;Ouvert aux opportunités&#34; (Open To Work), vous pouvez discrètement
            informer les recruteurs ou partager publiquement avec la communauté LinkedIn que vous êtes à la
            recherche de nouvelles opportunités d&#39;emploi.
          </span>
        </p>
        <img class="element" src="https://c.animaapp.com/gifcIB64/img/11667116-20944999-removebg-preview-1.png" />
        <p class="les-discussions-d">
          <span class="text-wrapper-77"
            >Les discussions d&#39;aujourd&#39;hui peuvent conduire à des opportunités demain.</span
          >
          <span class="text-wrapper-78"></span>
          <span class="text-wrapper-79"
            >Envoyer des messages à des personnes que vous connaissez est un excellent moyen de renforcer les
            relations alors que vous franchissez la prochaine étape de votre carrière.</span
          >
        </p>
        <img class="element-2" src="https://c.animaapp.com/gifcIB64/img/11668422-20943564-photoroom-1.png" />

        <div class="group-29">
          <p class="restez-inform-de">
            <span class="text-wrapper-51">Restez informé de votre secteur d&#39;activité</span>
            <span class="text-wrapper-52"></span>
            <span class="text-wrapper-57"
              >Des vidéos en direct aux stories, en passant par les newsletters et bien plus encore, LinkedIn
              regorge de moyens pour rester au fait des dernières discussions dans votre secteur
              d&#39;activité.</span
            >
          </p>
        </div>
        <img class="element-3" src="https://c.animaapp.com/gifcIB64/img/11669640-20943849-photoroom-1.png" />
      </div>
      
      
    </section>

    <section class="three">
      <div class="text-wrapper-9">Popular Service Categories</div>
      <div class="overlap-17">
        <div class="group-15">
          <div class="overlap-18">
            <div class="overlap-19">
              <img class="line-2" src="https://c.animaapp.com/gifcIB64/img/line-3.svg" />
              <img class="line-3" src="https://c.animaapp.com/gifcIB64/img/line-5.svg" />
              <img class="line-4" src="https://c.animaapp.com/gifcIB64/img/line-5.svg" />
              <img class="line-5" src="https://c.animaapp.com/gifcIB64/img/line-2.svg" />
            </div>
            <div class="group-16">
              <div class="text-wrapper-39">Aide ménagère</div>
              <img class="help" src="https://c.animaapp.com/gifcIB64/img/help-1@2x.png" />
            </div>
            <div class="group-17">
              <img class="baby" src="https://c.animaapp.com/gifcIB64/img/baby-1@2x.png" />
              <div class="text-wrapper-40">Baby sitting</div>
            </div>
            <div class="group-18">
              <img
                class="montage-cut-scissors"
                src="https://c.animaapp.com/gifcIB64/img/montage-cut-scissors-function-1@2x.png"
              />
              <div class="text-wrapper-41">Bricolage et montage</div>
            </div>
            <div class="group-19">
              <img class="air" src="https://c.animaapp.com/gifcIB64/img/air-1@2x.png" />
              <div class="text-wrapper-42">Climatisation</div>
            </div>
            <div class="group-20">
              <img class="window" src="https://c.animaapp.com/gifcIB64/img/window-1@2x.png" />
              <div class="text-wrapper-43">Fenêtres et stores</div>
            </div>
            <div class="group-21">
              <div class="text-wrapper-44">Plomberie</div>
              <img class="tool" src="https://c.animaapp.com/gifcIB64/img/tool-1@2x.png" />
            </div>
            <div class="group-22"><div class="text-wrapper-45">Peinture</div></div>
          </div>
          <div class="botton-voirplus">
            <div class="voir-plus-wrapper"><div class="voir-plus">Voir plus&nbsp;&nbsp;&gt;</div></div>
          </div>
        </div>
        <div class="group-23">
          <div class="text-wrapper-46">Electricité</div>
          <img class="icon-flash" src="https://c.animaapp.com/gifcIB64/img/---icon--flash-@2x.png" />
        </div>
        <img class="icon-brush" src="https://c.animaapp.com/gifcIB64/img/---icon--brush-@2x.png" />
      </div>
    </section>
      
    <section class="group-wrapper">
      <div class="group-2">
        <div class="text-wrapper-10">Popular Product Categories</div>
        <div class="text-wrapper-11">See all product categories</div>
        <div class="overlap-group-wrapper">
          <div class="overlap-group-2"><div class="text-wrapper-12">Payroll Software</div></div>
        </div>
        <div class="overlap-3">
          <div class="overlap-wrapper">
            <div class="overlap-4"><div class="text-wrapper-13">E-Commerce Platfoms</div></div>
          </div>
          <div class="group-3">
            <div class="overlap-5">
              <div class="rectangle-3"></div>
              <div class="text-wrapper-14">Customer Relationship Management Software</div>
            </div>
          </div>
        </div>
        <div class="overlap-6">
          <div class="group-4">
            <div class="overlap-7">
              <div class="rectangle-4"></div>
              <div class="text-wrapper-15">Simulation Software</div>
            </div>
          </div>
          <div class="group-5">
            <div class="overlap-8">
              <div class="rectangle-5"></div>
              <div class="text-wrapper-16">Payroll Software</div>
            </div>
          </div>
        </div>
        <div class="group-6">
          <div class="overlap-9"><div class="text-wrapper-17">Integrated Development Software</div></div>
        </div>
        <div class="group-7">
          <div class="overlap-10"><div class="text-wrapper-18">Customer Experience Managment Software</div></div>
        </div>
        <div class="group-8">
          <div class="overlap-11"><div class="text-wrapper-19">Payment Processing Software</div></div>
        </div>
        <div class="group-9">
          <div class="overlap-12"><div class="text-wrapper-20">Product Lifecycle Management Software</div></div>
        </div>
        <div class="group-10">
          <div class="overlap-13"><div class="text-wrapper-21">Human Resources managemeny Systems</div></div>
        </div>
      </div>
    </section>
    <section class="four">
      <div class="group-12">
        <div class="overlap-15" >
          <img class="qfdqdqsdqssd" src="https://c.animaapp.com/gifcIB64/img/qfdqdqsdqssd-1.png" />
          <button class="button3" id="getstaredbutton">
            <div class="text-wrapper-22">Get started </div>
          </button>
        </div>
      </div>
    </section>  
    <section class="contact-barre">
      <div class="group-13">
        <div class="overlap-16">
          <img class="image" src="https://c.animaapp.com/gifcIB64/img/image-1@2x.png" />
          <img class="img" src="https://c.animaapp.com/gifcIB64/img/image-2@2x.png" />
          <div class="group-14">
            <img class="logo-clinets" src="https://c.animaapp.com/gifcIB64/img/logo-clinets-2@2x.png" />
            <div class="overlap-group-3">
              <p class="text-wrapper-23">2 rue André Ampére - 2083 - Pôle Technologique - El Ghazala</p>
              <a href="tel:54569557" target="_blank" rel="noopener noreferrer"
                ><div class="text-wrapper-24">(+216) 54 569 557</div></a
              >
              <div class="text-wrapper-25">Hello@carrercrafters.com</div>
            </div>
            <div class="text-wrapper-26">Acceuil</div>
            <div class="text-wrapper-27">Plan du site</div>
            <div class="text-wrapper-28">Qui sommes-nous?</div>
            <div class="text-wrapper-29">Condition d’utilisation</div>
            <div class="text-wrapper-30">Notre mission</div>
            <div class="text-wrapper-31">Politique de confidentialité</div>
            <div class="revues-de-presse">Revues de presse</div>
            <div class="text-wrapper-32">FAQ</div>
            <div class="text-wrapper-33">Articles</div>
            <div class="text-wrapper-34">Offres d’Emplois</div>
            <div class="text-wrapper-35">Services</div>
            <img class="facebook" src="https://c.animaapp.com/gifcIB64/img/facebook-1@2x.png" />
            <img class="instagram" src="https://c.animaapp.com/gifcIB64/img/instagram-1@2x.png" />
            <img class="youtube" src="https://c.animaapp.com/gifcIB64/img/youtube-1@2x.png" />
            <img class="twitter" src="https://c.animaapp.com/gifcIB64/img/twitter-1@2x.png" />
          </div>
        </div>
        <p class="element-careercrafters">©&nbsp;&nbsp;2024 CareerCrafters Hub. Conçu par CodeCrafters</p>
        <div class="text-wrapper-36">Plan du Site</div>
        <div class="text-wrapper-37">A Propos De CareerCrafters</div>
        <div class="text-wrapper-38">Sujets Utiles</div>
      </div>
    </section>
   </div>
   <script src="home.js"></script>
  </body>
</html>

