<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="stil.css" />
</head>
<body>
    <img class="logo-zeb" src="logo-web-1.png">
    <section class="container">
        <form action="./login.php" method="post" onsubmit="" class="form">
            <div class="column">
                <div class="form-group">
                    <label>Adresse email</label>
                    <input type="text" name="email" id="email" placeholder="Enter email address" required />
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" name="mot_d_passe" id="mot_d_passe" placeholder="Enter votre mot de passe" required />
                </div>
            </div>
            <button type="submit" name="submit">Submit</button>
        </form>
    </section>

<?php
header('Location: list.php');
?>
</body>
</html>