<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style01.css" />
  </head>
  <body>
    <img class="logo-zeb" src="logo-web-1.png">

                <section class="container">
                    <!--<header>inscritez vous</header>-->
                    <form action="./treatment1.php" method="post" onsubmit="" class="form">
                            <div class="column">
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input type="text" name="nom" id="nom" placeholder="Enter Votre Nom" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Address émail</label>
                                <input type="text" name="email" id="email" placeholder="Enter email address" required />
                            </div>
                            <div class="column">
                                <div class="input-box">
                                    <label>region</label>
                                    <input type="text" name="region" id="region" placeholder="Enter ta region " required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="column">
                                    <div class="input-box">
                                        <label>ville</label>
                                        <input type="text" name="ville" id="ville" placeholder="Enter votre ville " required />
                                    </div>
                                    <div class="form-group">
                                        <label>numero de telephone</label>
                                        <input type="text" name="num_tel" id="num_tel" placeholder="Enter votre numero de telephone " required />
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label>mot de passe </label>
                                  <input type="password" name="mot_d_passe" id="mot_d_passe" placeholder="Enter votre mot de passe " required />
                              </div>
                          </div>
                     
                            <button type="submit" value="Soumettre societe">submit</button>
                        </form>
                        <script>
                          function controller() {
                            var nom = document.getElementById("nom").value;
        var email = document.getElementById("email").value;
        var region= document.getElementById("region").value;
        var ville = document.getElementById("ville").value;
        var num_tel = document.getElementById("num_tel").value;
        var mot_d_passe = document.getElementById("mot_d_passe").value;


              
                              if (id === "0") {
                                  alert("L'identifiant doit être supérieur à 0");
                                  return false; 
                              }
                              
                              if (sujet === "") {
                          alert("Veuillez entrer un sujet.");
                          return false; 
                      } else if (sujet.length <= 5) {
                          alert("Le sujet doit contenir plus de 5 caractères.");
                          return false; 
                      }
              
                      if (description === "") {
                          alert("Veuillez entrer une description.");
                          return false; // Empêche l'envoi du formulaire
                      } else if (description.length < 30) {
                          alert("La description doit contenir au moins 30 caractères.");
                          return false; // Empêche l'envoi du formulaire
                      }
                      if (idUtilisateur === "") {
                          alert("Veuillez entrer un identifiant d'utilisateur.");
                          return false; 
                      } else if (isNaN(idUtilisateur) || idUtilisateur <= 0) {
                          alert("L'identifiant de l'utilisateur doit être un nombre supérieur à zéro.");
                          return false; 
                      }
              
              
              
                              return true; 
                          }
                      </script>
                  </section>
          
            
           
  </body>
</html>