<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="logoweb1.png" href="logoweb1.png">
    <title>Buttons with Image</title>
    <link rel="stylesheet" href="sytlerec.css">
</head>
<body>
    <div class="container">
        <img class="logo-zeb" src="logo-web-1.png" alt="Logo">
        <a href="user.php" class="user-btn">User</a>
        <a href="societe.html" class="company-btn">Company</a>
        <a href="admin.php" class="admin-btn">admin</a>

    </div>
</body>
</html>
